{% extends 'base.html' %} 
{% load static %} 

{% block title %}My Blog{% endblock%} 


{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %} 

{% block content %}



<section id="welcome">
  <header>
    <img src="{% static 'blog/images/max.png' %}" alt="Tymon - The Author of this blog" />
    <h2>Tymon's Blog</h2>
  </header>

  <p>
    Welcome to my blog! Here you will find posts about various topics that
    interest me, including programming, technology, and personal experiences. I
    hope you enjoy reading them as much as I enjoy writing them!
  </p>
</section>

<section id="latest-posts">
  <h2>My Latest Posts</h2>
  <ul>
    {% for post in posts %}
      {% include 'blog/include/post.html' %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>
    I am a software developer with a passion for creating innovative solutions.
    I enjoy writing about my experiences, sharing knowledge, and connecting with
    others in the tech community.
  </p>
  <p>
    Feel free to reach out to me through my social media channels or leave a
    comment on my posts. I love engaging with readers and hearing your thoughts!
  </p>
</section>

{% endblock %}
