{% extends 'base.html' %} 
{% load static %}


{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'challanges/challenges.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'challanges/includes/header.css' %}">
{% endblock %}

{% block title %}All Challenges{% endblock %} 

{% block content %}

{% include "includes/header.html" %}

  <ul>
    {% for month in months %}
    <li>
      <a href="{% url 'monthly-challenge' month %}">{{ month|title }}</a>
    </li>
    {% endfor %}
  </ul>

{% endblock %}
