{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app.css' %}" />

    <title>{% block title %}Blog{% endblock %}</title>

    {% block css_files %}{% endblock %}
  </head>
  <body>

    <header id="main-navigation">
      <h1><a href="{% url 'index' %}">Tymon's Blog</a></h1>
      <nav>
        <a href="{% url 'post_list' %}">All Posts</a>
         <a href="{% url 'read_later' %}">Read Later</a>
      </nav>
    </header>

    {% block content %}

    {% endblock %}
  </body>
</html>
